<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table class="table table-striped table-bordered table-condensed sortable">
    <thead>
        <tr>
            <th style="width: 300px;"><%= sortable "name", "Nombre" %></th>
            <th> <%= sortable "email", "Email" %> </th>
            <th> Dni </th>
            <th> <%= sortable "trainer", "Entrenador" %></th>
            <th> <%= sortable "created_at", "Fecha de Alta" %> </th>
            <th style="width: 40px;"></th>
        </tr>
    </thead>
    <tbody>
    <% @employees.each do |employee| %>
        <% if employee.status? %>
        <tr>
            <td valign="top"> 
                <%= link_to employee.name, employee%> 
            </td>
            <td valign="top"> 
                <%= employee.email %>
            </td>
            <td valign="top"> 
                <%= employee.document_type %> : <%= employee.document_number %>
            </td>
            <td valign="top"> 
                <% if employee.trainer? %> si <% else %> no <% end %>
            </td>
            <td valign="top"> 
                <%= employee.created_at.strftime("%e %B, %Y") %>
            </td>
            <td valign="top"> 
                <%= link_to edit_employee_path(employee), :remote => true, :style=>'height: 14px;', :title=>'Editar' do%> 
                    <i class="icon-edit"></i> 
                <% end %> 
                
                <a style="height: 14px; padding-left: 5px;" title="Eliminar" 
                    data-backdrop="static" data-keyboard="true"
                    href="javascript:;"
                    onclick="show_confirm_modal('<%= employee_path(employee) %>',
                    'Esta Seguro que quiere dar de baja el empleado : <%= employee.name %>');"> 
                    <i class="icon-remove"></i> 
                </a>
           </td>
        </tr>
        <% end %>
    <% end %>
    </tbody>
        <tfoot>
            <tr>
                <td colspan="5"> <%= will_paginate @employees%> </td>
            </tr>
        </tfoot>
</table>

    

