<%= render 'shared/error_messages', object: f.object %>

<%= f.label :name %>
<%= f.text_field :name %>
<span class="input-group-addon">@</span>
<%= f.text_field :email, class: "form-control input-lg", placeholder: "Email" %>

<%= f.label :document_type %>
<%= f.text_field :document_type %>

<%= f.label :document_number %>
<%= f.text_field :document_number %>

<%= f.label :sex %>
<%= f.text_field :sex %>

<div class="input-group input-group-lg">
    <span class="input-group-addon">@</span>
      <input type="text" class="form-control input-lg" placeholder="Username">
    </div>
