<%= form_for(@employee, :remote => true, :html => { :class => "form-horizontal"} ) do |f| %>
      <ul class="nav nav-tabs" id="tabs">
          <li class="active">
              <a href="#general">General</a>
          </li>
          <li class="">
              <a href="#address">Direccion</a>
          </li>
          <li class="">
              <a href="#work">Trabajo</a>
          </li>
          <li class="">
              <a href="#driver_license">Licencia de Conducir</a>
          </li>
          <li class="">
              <a href="#studies">Estudios</a>
          </li>
          <li class="">
              <a href="#notes">Notas</a>
          </li>
          <li class="">
              <a href="#health">Salud</a>
          </li>
      </ul>
      
      <div class="tab-content" id="my-tab-content">
        <!-General !>
        <div id="general" class="tab-pane active">
          <%= render 'fields', f: f %>
        </div>

        <!-Address!>
        <div id="address" class="tab-pane">
          <%= render 'address', f: f %>
        </div>

        <!-Work!>
        <div id="work" class="tab-pane">
          <%= render 'work', f: f %>
          
                <h3>Habilitaciones Especiales</h3>
          <%= f.fields_for( :special_habilitations, :remote => true, :html => { :class => "form-horizontal"} ) do |b| %>
            <%= render 'special_habilitation_fields', f: b %>
          <% end %>
          <div class="control-group">
            <div class="controls">
                <%= link_to_add_fields "Agregar Habilitacion Especial", f, :special_habilitations %>
            </div>
          </div>
        </div>
      
        <!-Driver Licenses !>
        <div id="driver_license" class="tab-pane">
          <%= f.fields_for( :driver_licenses, :remote => true, :html => { :class => "form-horizontal"} ) do |b| %>
            <%= render 'driver_license_fields', f: b %>
          <% end %>
          <div class="control-group">
            <div class="controls">
                <%= link_to_add_fields "Agregar Licencia", f, :driver_licenses %>
            </div>
          </div>
        </div>

        <!-Studies !>
        <div id="studies" class="tab-pane">
          <%= f.fields_for( :studies, :remote => true, :html => { :class => "form-horizontal"} ) do |b| %>
            <%= render 'study_fields', f: b %>
          <% end %>
          <div class="control-group">
            <div class="controls">
                <%= link_to_add_fields "Agregar Estudio", f, :studies %>
            </div>
          </div>
        </div>

        <!-Notes !>
        <div id="notes" class="tab-pane">
          <%= render 'notes', f:f %>
        </div>

        <!-Health !>
        <div id="health" class="tab-pane">
          <%= f.fields_for( :medical_history, :remote => true, :html => { :class => "form-horizontal"} ) do |b| %>
            <%= render 'medical_fields', f:b %>
          <% end %>
        </div>    

        <div class="actions">
            <%= f.submit "Guardar", class: "btn btn-primary" %>            
            <%= link_to :back, :remote => true, :type => "reset", :class => "btn" do%>
                <i class="icon-chevron-left"></i>Cancelar
            <% end %>     
        </div>      
      </div>

      <script type="text/javascript">
          $(function() {
              $('#tabs a').click(function(e) {
                  e.preventDefault();
                  $(this).tab('show');
              })
          })
      </script>
    <% end %> 