<%= render 'shared/error_messages', object: f.object %>
<div class="control-group">
  <label for="notes" class="control-label">Notas</label>
  <div class="controls">
      <%= f.text_area :notes, :class => "input-xlarge", rows:10, cols:100 %>
  </div>
</div>
<div class="control-group">
  <label for="skype" class="control-label">Skype</label>
  <div class="controls">
      <%= f.text_field :skype, :class => "input-xlarge" %>
  </div>
</div>
<div class="control-group">
  <label for="phone" class="control-label">Telefono</label>
  <div class="controls">
      <%= f.text_field :phone, :class => "input-xlarge" %>
  </div>
</div>
<div class="control-group">
  <label for="mobile" class="control-label">Celular</label>
  <div class="controls">
      <%= f.text_field :mobile, :class => "input-xlarge" %>
  </div>
</div>