<% provide(:title, @employee.name) %>
<div class="page-header">
  <section><h1 class="pull-left"><%= @employee.name %>
      | <%= link_to "Editar", edit_employee_path(@employee) %></h1></section>
</div>
<div class="row">
  <div class="span5">
  <div class="well well-lg">
<dl class="dl-horizontal">
<h3>Personal</h3>
      <dt>Email: </dt>
      <dd>- <%= @employee.email %></dd>
      <dt>Documento:</dt>
      <dd>- <%= @employee.document_type %>  
        <%= @employee.document_number %></dd>
      <dt>Género:</dt>
      <dd>- <%= @employee.gender_txt unless @employee.sex == nil %></dd>
    </dl>
</div>
<div class="well well-lg">
    <h3>Domicilio</h3>
    <dl class="dl-horizontal">
        <dt>Direccion:</dt>
        <dd> - <%= @employee.address %></dd>
        <dt>Pais:</dt>
        <dd> - <%= @country.name unless @country == nil %> </dd>
        <dt>Ciudad:</dt>
        <dd> - <%= @employee.city %> </dd>
        <dt>Estado/Provincia:</dt>
        <dd> - <%= @employee.region %></dd>
    </dl>
</div>
<div class="well well-lg">
   <h3>Trabajo</h3> 
   <dl class="dl-horizontal">
        <dt>Entrenador:</dt> <dd>- <% if @employee.trainer %> Es Entrenador <% end %> </dd>
        <dt>Diagrama Trabajo: </dt> <dd> - <%= @employee.work_schedule %> </dd>
        <dt>EPP:</dt> <dd>- <%= @employee.ppe %> </dd>
    </dl>
</div>
<div class="well well-lg">
    <h3>Contacto</h3> 
    <dl class="dl-horizontal">
        <dt>Telefono:</dt><dd>- <%= @employee.phone %></dd>
        <dt>Celular:</dt><dd>- <%= @employee.mobile %></dd>
        <dt>Skype:</dt><dd>- <%= @employee.skype %></dd>
        <dt>Notas:</dt><dd>- <%= @employee.notes %></dd>
    </dl>  
</div>        
  </div>

  <div class="span4">
    <% if @employee.driver_licenses.any? %>
      <h3>Licencias de Conducir <span class="badge pull-right"><%= @employee.driver_licenses.count %></span></h3>
      <ol class="driver_licenses">
          <%= render @driver_licenses %>
        </ol>
      <%= will_paginate @driver_licenses %>
    <% end %>
  </div>

  <div class="span4">
    <% if @employee.studies.any? %>
      <h3>Estudios <span class="badge pull-right"><%= @employee.studies.count %></span></h3>
      <ol class="studies">
          <%= render @studies %>
        </ol>
      <%= will_paginate @studies %>
    <% end %>
  </div>

  <div class="span4">
    <% if @employee.special_habilitations.any? %>
      <h3>Habilitaciones Especiales <span class="badge pull-right"><%= @employee.special_habilitations.count %></span></h3>
      <ol class="special_habilitations">
          <%= render @special_habilitations %>
       </ol>
     <%= will_paginate @special_habilitations %>
    <% end %>
  </div>
  <div class="span4">
      <% if @employee.medical_histories.any?  %>
        <h3>Historial Medico <span class="badge pull-right"><%= @employee.medical_histories.count %></span></h3>
        <ol class="medical_histories">
            <%= render @medical_histories %>
        </ol>
        <%= will_paginate @medical_histories %>
      <% end %>
  </div>
</div>

