<% provide(:title, @employee.name) %>
<div class="row">
  <aside class="span8">
    <section>
      <h1>
        <%= gravatar_for @employee %>
        <%= @employee.name %>
      | <%= link_to "Editar", edit_employee_path(@employee) %>
      </h1>
    </section>
      <span class="content">
        <p>Direccion: <%= @employee.address %></p></span>
      <span> <p>Email: <%= @employee.email %></p></span>
        <p>Tipo de Documento: <%= @employee.document_type %>  
        <%= @employee.document_number %></p>
        <p>Estado: <%= @employee.status %></p>
        <p>Entrenador: <%= @employee.trainer %></p>
      </span>
  </aside>

  <div class="span4">
    <% if @employee.driver_licenses.any? %>
      <h3>Licencias de Conducir (<%= @employee.driver_licenses.count %>)</h3>
      <ol class="driver_licenses">
          <%= render @driver_licenses %>
        </ol>
      <%= will_paginate @driver_licenses %>
    <% end %>
  </div>
</div>

