<% provide(:title, 'Alta Empleado') %>
<h1>Alta Empleado </h1>
<div class="row">
  <aside class="span4">
    <section>
    </section>
  </aside>
  <div class="span6 offset3">
    <%= form_for(@employee) do |f| %>
      <div class"input-group input-lg">
        <%= render 'fields', f: f %>
        <%= f.fields_for :driver_licenses do |builder| %>
          <%= render 'shared/driver_license_form', f: builder %>
        <% end %>
        <%= f.submit "Crear Empleado", class: "btn btn-large btn-primary" %>
      </div>
    <% end %> 
  </div>
</div>

