<% provide(:title, 'Alta Empleado') %>
<div class="page-header">
  <h1 class="pull-left">Alta Empleado</h1>
</div>
<div class="row-fluid">
  <div class="span12">
    <%= form_for(@employee, :remote => true, :html => { :class => "form-horizontal"} ) do |f| %>
      <ul class="nav nav-tabs" id="tabs">
          <li class="active">
              <a href="#general">General</a>
          </li>
          <li class="">
              <a href="#address">Direccion</a>
          </li>
          <li class="">
              <a href="#driver_license">Licencia de Conducir</a>
          </li>
          <li class="">
              <a href="#studies">Estudios</a>
          </li>
          <li class="">
              <a href="#notes">Notes</a>
          </li>
      </ul>
      
      <div class="tab-content" id="my-tab-content">
        <!-General !>
        <div id="general" class="tab-pane active">
          <%= render 'fields', f: f %>
        </div>

        <!-Address!>
        <div id="address" class="tab-pane">
          <%= render 'address', f: f %>
        </div>
      
        <!-Driver Licenses !>
        <div id="driver_license" class="tab-pane">
          <%= render 'shared/driver_license_form', f: f %>
        </div>
        <!-Notes !>
        <div id="notes" class="tab-pane">
          <div class="control-group">
            <label for="notes" class="control-label">Notes</label>
            <div class="controls">
                <%= f.text_area :notes, :class => "input-xlarge", rows:10, cols:100 %>
            </div>
          </div>
        </div>    

        <div class="actions">
            <%= f.submit "Crear Empleado", class: "btn btn-primary" %>            
            <%= link_to :back, :remote => true, :type => "reset", :class => "btn" do%>
                <i class="icon-chevron-left"></i>Cancelar
            <% end %>     
        </div>      
      </div>

      <script type="text/javascript">
            $(function() {
                $('#tabs a').click(function(e) {
                    e.preventDefault();
                    $(this).tab('show');
                })
            })
        </script>
    <% end %> 
  </div>
</div>


