<% provide(:title, @employee.name) %>
<div class="row">
  <aside class="span4">
  <section>
  <h1>
    <%= gravatar_for @employee %>
    <%= @employee.name %>
  </h1>
  </section>
  </aside>

  <div class="span8">
    <% if @employee.driver_licenses.any? %>
      <h3>Licencias de Conducir (<%= @employee.driver_licenses.count %>)</h3>
      <ol class="driver_licenses">
          <%= render @driver_licenses %>
        </ol>
      <%= will_paginate @driver_licenses %>
    <% end %>
  </div>
</div>

