<%= render 'shared/error_messages', object: f.object %>
<%= f.fields_for :driver_licenses do |u|  %>
  <div class="field">
    <h3>Licencias de Conducir</h3>
    <%= u.label :code  %>
    <%= u.text_field :code  %>
    <%= u.label :expiration  %>
    <%= u.date_select :expiration  %>
  </div>
<% end %>
